# ISSUE 4

In [4]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from scipy.stats import t # t - student 
import os

In [5]:
user = os.getlogin()   # Username
os.chdir(f"/Users/{user}/Documents/GitHub/1ECO35_2022_2/data")

In [7]:
greene = pd.read_csv("christensen_greene_f4.csv")

In [8]:
greene

,id,YEAR,COST,Q,PL,SL,PK,SK,PF,SF
0,1,1970,0.2130,8.0,6869.47,0.3291,64.945,0.4197,18.000,0.2512
1,4,1970,3.0427,869.0,8372.96,0.1030,68.227,0.2913,21.067,0.6057
2,5,1970,9.4059,1412.0,7960.90,0.0891,40.692,0.1567,41.530,0.7542
3,14,1970,0.7606,65.0,8971.89,0.2802,41.243,0.1282,28.539,0.5916
4,15,1970,2.2587,295.0,8218.40,0.1772,71.940,0.1623,39.200,0.6606
...,...,...,...,...,...,...,...,...,...,...
153,214,1970,6.8293,946.6,10642.16,0.0883,43.600,0.1914,51.463,0.7203
154,215,1970,3.7605,377.0,7432.24,0.2117,74.120,0.2274,33.436,0.5609
155,216,1970,3.9822,391.0,5826.04,0.1926,78.288,0.0924,44.633,0.7151
156,217,1970,30.1880,5317.0,9586.63,0.0845,78.008,0.2009,41.840,0.7147
157,218,1970,67.8562,15220.0,6986.09,0.1451,74.025,0.2596,25.662,0.5945

In [9]:
ct = greene.COST.values # se convierte a un array 
q = greene.Q.values
p1 = greene.PL.values
p2 = greene.PF.values
p3 = greene.PK.values

In [10]:
# Generation of data

y = np.log(  ct  ) # lnCT

c = np.ones( len( y ) ) # Constant
xq = np.log( q ) # lnq
xqq = np.log( q )*np.log( q ) # lnq^2
xq1 = np.log( q )*np.log( p1 ) # lnq*lnp_1
xq2 = np.log( q )*np.log( p2 ) # lnq*lnp_2
xq3 = np.log( q )*np.log( p3 ) # lnq*ln_3
x1 = np.log( p1 ) # lnp_1
x2 = np.log( p2 ) # ln_p2
x3 = np.log( p3 ) # ln_p3
x11 = np.log( p1 )*np.log( p1 ) # 0.5ln2p_1
x22 = np.log( p2 )*np.log( p2 ) # 0.5ln2p_2
x33 = np.log( p3 )*np.log( p3 ) # 0.5ln2p_3
x12 = np.log( p1 )*np.log( p2 ) # lnp_1*lnp_2
x13 = np.log( p1 )*np.log( p3 ) # lnp_1*lnp_3
x23 = np.log( p2 )*np.log( p3 ) # lnp_2*lnp_3

columns = [  "ln_cost", "lnq", "(lnq)^2", "(lnq)(lnp1)", "(lnq)(lnp2)",
          "(lnq)(lnp3)", "lnp1", "lnp2", "lnp3", "(lnp1)^2",
          "(lnp2)^2", "(lnp3)^2", "(lnp1)(lnp2)", "(lnp1)(lnp3)", "(lnp2)(lnp3)" ]

data_val = np.asarray( [ y, xq,  xqq, xq1, xq2,
                xq3, x1,  x2,  x3,  x11, 
                x22, x33, x12, x13, x23 ] ).T # se coloca transpuesta para que cada varaible sea una columna 

# np.asarray permite crear una matriz a partir de vectores 

data = pd.DataFrame(  data_val , columns = columns  )

In [55]:
data

,ln_cost,lnq,(lnq)^2,(lnq)(lnp1),(lnq)(lnp2),(lnq)(lnp3),lnp1,lnp2,lnp3,(lnp1)^2,(lnp2)^2,(lnp3)^2,(lnp1)(lnp2),(lnp1)(lnp3),(lnp2)(lnp3)
0,-1.546463,2.079442,4.324077,18.371538,6.010359,8.678634,8.834842,2.890372,4.173541,78.054437,8.354249,17.418442,25.535978,36.872574,12.063084
1,1.112745,6.767343,45.796933,61.127805,20.624885,28.577410,9.032763,3.047708,4.222840,81.590803,9.288523,17.832381,27.529222,38.143915,12.869984
2,2.241337,7.252762,52.602563,65.146469,27.026810,26.878966,8.982297,3.726416,3.706032,80.681665,13.886177,13.734670,33.471777,33.288677,13.810215
3,-0.273648,4.174387,17.425509,37.994654,13.989505,15.526556,9.101852,3.351272,3.719481,82.843703,11.231021,13.834542,30.502777,33.854168,12.464992
4,0.814789,5.686975,32.341689,51.263140,20.863674,24.316554,9.014131,3.668677,4.275832,81.254554,13.459189,18.282743,33.069932,38.542913,15.686647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,1.921222,6.852877,46.961918,63.543838,27.006249,25.870001,9.272579,3.940863,3.775057,85.980717,15.530402,14.251056,36.541963,35.004515,14.876983
154,1.324552,5.932245,35.191533,52.877557,20.820004,25.542382,8.913583,3.509633,4.305685,79.451954,12.317525,18.538927,31.283405,38.379082,15.111376
155,1.381834,5.968708,35.625470,51.749248,22.671977,26.025919,8.670093,3.798473,4.360394,75.170509,14.428401,19.013039,32.933118,37.805024,16.562842
156,3.407444,8.578665,73.593485,78.650266,32.031471,37.375623,9.168125,3.733853,4.356811,84.054510,13.941657,18.981805,34.232428,39.943790,16.267692
157,4.217391,9.630366,92.743942,85.244879,31.250645,41.452974,8.851676,3.245011,4.304403,78.352173,10.530098,18.527884,28.723790,38.101181,13.967836

In [70]:
# selecting columns
X = data.iloc[ : , 1: ]
y = data.ln_cost
lista = data.iloc[ : , 1:9]

In [148]:
class OLSRegClass( object ):
    
    def __init__( self, X : pd.DataFrame , y : pd.Series , lista, RobustStandardError = True):
    
        if not isinstance( X, pd.DataFrame ):
            raise TypeError( "X must be a pd.DataFrame." )

        if not isinstance( y , pd.Series ):
            raise TypeError( "y must be a pd.Series." )
            
        # asignando atributos de la clase
        
        self.X = X
        self.y = y
        self.lista = lista
        self.RobustStandardError = RobustStandardError

        self.X[ 'Intercept' ] = 1
        # colcondo la columna Intercept en la primera columna 
        
        cols = self.X.columns.tolist() # nombre de variable a lista 
        new_cols_orders = [cols[ -1 ]] + cols[ 0:-7 ] # juntamos listas

            
        # [cols[ -1 ]] la jala la ultima fila , cols[ 0:-1 ]  primera fila hasta la fila 9
            
        self.X = self.X.loc[ : , new_cols_orders ] # usamos .loc que filtra por nombre de filas o columnas 

        
        # creando nuevos atributos 
        
        self.X_np = self.X.values  # Dataframe a multi array
        self.y_np = y.values.reshape( -1 , 1 ) # de objeto serie a array columna 
        self.lista = self.X.columns.tolist() # nombre de la base de datos como objeto lista
    
# Creando Métodos #

######################      MÉTODO 1     ###############################################
    
    def reg_beta_OLS( self ):
        # X, y en Matrix, y vector columna respectivamente 
        
        X_np = self.X_np
        y_np = self.y_np

        # beta_ols
        beta_ols = np.linalg.inv( X_np.T @ X_np ) @ ( X_np.T @ y_np )

        # columnas de X
        index_names = self.lista
        # Output
        beta_OLS_output = pd.DataFrame( beta_ols , index = index_names , columns = [ 'Coef.' ] )
        
        # Dataframe de coeffientes como atributo 
        
        self.beta_OLS = beta_OLS_output
        
        return beta_OLS_output
    
    
######################      MÉTODO 2     ###############################################
    
    def var_stderrors_cfdinterval( self ):
        
        ### VARIANZA  ###
        
        # Se corre la función beta_OLS que estima el vector de coeficientes
        self.reg_beta_OLS()
        
        # usaremos atributos pero con un nombre más simple
        X_np = self.X_np
        y_np = self.y_np
        listaf = self.lista
        
        # beta_ols
        beta_OLS = self.beta_OLS.values.reshape( - 1, 1 ) # Dataframe a vector columna 

        # errors
        e = y_np - ( X_np @ beta_OLS )

        # error variance
        N = X_np.shape[ 0 ]
        total_parameters = X_np.shape[ 1 ]
        error_var = ( (e.T @ e)[ 0 ] )/( N - total_parameters )

        # Varianza
        var_OLS =  error_var * np.linalg.inv( X_np.T @ X_np )
        
        # asignando output de la función def reg_var_OLS( self ):   como atributo  self.var_OLS
        index_names = listaf
        var_OLS_output = pd.DataFrame( var_OLS , index = index_names , columns = index_names )
        self.var_OLS = var_OLS_output

        
        ### STANDAR ERRORS  ###
       
        # var y beta
        beta_OLS = self.beta_OLS.values.reshape( -1, 1 )   # -1 significa cualquier número de filas
        var_OLS  = self.var_OLS.values
        
        # standard errors
        beta_stderror = np.sqrt( np.diag( var_OLS ) )
        
        table_data0 = {  "Std.Err." : beta_stderror.ravel()}
        
        # defining index names
        index_names0 = listaf
        
        # defining a pandas dataframe 
        beta_se_output = pd.DataFrame( table_data0 , index = index_names0 )
        self.beta_se = beta_se_output

        ### Confidence interval ###
        
        up_bd = beta_OLS.ravel() + 1.96*beta_stderror
        lw_bd = beta_OLS.ravel() - 1.96*beta_stderror
        
        table_data1 = {"[0.025"   : lw_bd.ravel(),
                       "0.975]"   : up_bd.ravel()}
        
        # defining index names
        index_names1 = listaf
        
        # defining a pandas dataframe 
        confiden_interval_output = pd.DataFrame( table_data1 , index = index_names1 )
        self_confiden_interval = confiden_interval_output
        
        return var_OLS_output, beta_se_output, confiden_interval_output
    
    
######################      MÉTODO 3     ###############################################
    
    def robust_var_se_cfdinterval(self):
        
        # Se corre la función beta_OLS que estima el vector de coeficientes
        self.reg_beta_OLS()
        
        # usaré atributos pero con un nombre más simple
        X_np = self.X_np
        y_np = self.y_np
        listaf = self.lista

        ####################
        ###  Robust Var  ###
        
        # matriz propuesta de White en muestras grandes
        V = np.zeros((X_np.shape[0], X_np.shape[0]))
        
        y_est  = X_np @ self.beta_OLS    # y estimado
        error  = y_np - y_est      # vector de errores
        
        residuosalcuadrado = []
        
        for i in error.values:
            
            A = i**2
            residuosalcuadrado.append(A)
        
        V = np.fill_diagonal(V, np.diag(residuosalcuadrado))
        
        robust_var = np.linalg.inv( X_np.T @ X_np ) @ ( X_np.T) @ V @ X_np @ np.linalg.inv( X_np.T @ X_np )
        
        # asignando output de la función def reg_var_OLS( self ):   como atributo  self.var_OLS
        index_names3 = listaf
        robust_var_output = pd.DataFrame( robust_var , index = index_names3 , columns = index_names3 )
        self.robust_var = robust_var_output

        ### STANDAR ERRORS  ###
       
        # var y beta
        beta_OLS = self.beta_OLS.values.reshape( -1, 1 )   # -1 significa cualquier número de filas
        robust_var  = self.robust_var.values
        
        # standard errors
        beta_stderrorro = np.sqrt( np.diag(robust_var ) )
        
        table_data4 = {  "Std.Err." : beta_stderrorro.ravel()}
        
        # defining index names
        index_names4 = listaf
        
        # defining a pandas dataframe 
        betaro_se_output = pd.DataFrame( table_data4 , index = index_names4 )
        self.betaro_se = betaro_se_output

        ### Confidence interval ###
        
        up_bd = beta_OLS.ravel() + 1.96*beta_stderror
        lw_bd = beta_OLS.ravel() - 1.96*beta_stderror
        
        table_data5 = {"[0.025"   : lw_bd.ravel(),
                       "0.975]"   : up_bd.ravel()}
        
        # defining index names
        index_names5 = listaf
        
        # defining a pandas dataframe 
        confiden_intervalro_output = pd.DataFrame( table_data5 , index = index_names5 )
        self_confiden_intervalro = confiden_intervalro_output
        
        return robust_var_output, betaro_se_output, confiden_intervalro_output
        
######################      MÉTODO 4     ###############################################  
    
    def R2_rootMSE( self ) :
        
        ############
        ###  R2  ###
        
        # Se corre la función beta_OLS_Reg que estima el vector de coeficientes
        self.reg_beta_OLS()
        
        y_est    = self.X_np @ self.beta_OLS   # y estimado
        error    = self.y_np - y_est           # vector de errores
        self.SCR = np.sum(np.square(error))    # Suma del Cuadrado de los Residuos
        SCT      = np.sum(np.square(self.y_np - np.mean(self.X_np) ))  # Suma de Cuadrados Total

        self.R2  = 1 - self.SCR/SCT

                
        #################
        ### root MSE  ###
        
        for i in error.values:
            
            suma = 0
            suma = np.sqrt( suma + (i**2) / self.X_np.shape[0] )
            
        self.rootMSE = suma.tolist()
        
        return self.R2, self.rootMSE
    

######################      MÉTODO 5     ###############################################
    
    def output( self ):
        
        self.reg_beta_OLS()
        self.R2_rootMSE()
        self.var_stderrors_cfdinterval()
        
        # var y beta
        beta_OLS = self.beta_OLS.values.reshape( -1, 1 )   # -1 significa cualquier número de filas
        var_OLS  = self.var_OLS.values
        
        # standard errors
        beta_stderror = np.sqrt( np.diag( var_OLS ) )
        
        # confidence interval
        up_bd = beta_OLS.ravel() + 1.96*beta_stderror
        lw_bd = beta_OLS.ravel() - 1.96*beta_stderror
        
        table_data2 = {'Coef.'    : beta_OLS.ravel(),
                       'Std.Err.' : beta_stderror.ravel(),
                       '[0.025'   : lw_bd.ravel(),
                       '0.975]'   : up_bd.ravel(),
                       'R2'       : self.R2,
                       'rootMSE'  : self.rootMSE}
        
        return table_data2

In [140]:
A = OLSRegClass( X, y, lista)

# Atributo de las variables 

A.X

,Intercept,lnq,(lnq)^2,(lnq)(lnp1),(lnq)(lnp2),(lnq)(lnp3),lnp1,lnp2,lnp3
0,1,2.079442,4.324077,18.371538,6.010359,8.678634,8.834842,2.890372,4.173541
1,1,6.767343,45.796933,61.127805,20.624885,28.577410,9.032763,3.047708,4.222840
2,1,7.252762,52.602563,65.146469,27.026810,26.878966,8.982297,3.726416,3.706032
3,1,4.174387,17.425509,37.994654,13.989505,15.526556,9.101852,3.351272,3.719481
4,1,5.686975,32.341689,51.263140,20.863674,24.316554,9.014131,3.668677,4.275832
...,...,...,...,...,...,...,...,...,...
153,1,6.852877,46.961918,63.543838,27.006249,25.870001,9.272579,3.940863,3.775057
154,1,5.932245,35.191533,52.877557,20.820004,25.542382,8.913583,3.509633,4.305685
155,1,5.968708,35.625470,51.749248,22.671977,26.025919,8.670093,3.798473,4.360394
156,1,8.578665,73.593485,78.650266,32.031471,37.375623,9.168125,3.733853,4.356811
157,1,9.630366,92.743942,85.244879,31.250645,41.452974,8.851676,3.245011,4.304403

In [141]:
A.y

0     -1.546463
1      1.112745
2      2.241337
3     -0.273648
4      0.814789
         ...
153    1.921222
154    1.324552
155    1.381834
156    3.407444
157    4.217391
Name: ln_cost, Length: 158, dtype: float64

In [142]:
A.reg_beta_OLS()  # Resultado del método reg OLS

                Coef.
Intercept    5.228525
lnq         -0.964496
(lnq)^2      0.026249
(lnq)(lnp1)  0.116980
(lnq)(lnp2)  0.059498
(lnq)(lnp3)  0.042733
lnp1        -0.853533
lnp2         0.188619
lnp3        -0.210549

In [144]:
A.var_stderrors_cfdinterval()

(             Intercept       lnq   (lnq)^2  (lnq)(lnp1)  (lnq)(lnp2)  \
 Intercept    10.113911 -1.139248 -0.002907     0.108998     0.003191
 lnq          -1.139248  0.135410  0.000288    -0.012885     0.000086
 (lnq)^2      -0.002907  0.000288  0.000005    -0.000035    -0.000006
 (lnq)(lnp1)   0.108998 -0.012885 -0.000035     0.001390    -0.000163
 (lnq)(lnp2)   0.003191  0.000086 -0.000006    -0.000163     0.000614
 (lnq)(lnp3)   0.046666 -0.005849 -0.000008     0.000363    -0.000149
 lnp1         -0.946290  0.106527  0.000304    -0.011461     0.001049
 lnp2         -0.040710  0.001448  0.000049     0.001151    -0.004907
 lnp3         -0.395009  0.046615  0.000065    -0.002919     0.000921

              (lnq)(lnp3)      lnp1      lnp2      lnp3
 Intercept       0.046666 -0.946290 -0.040710 -0.395009
 lnq            -0.005849  0.106527  0.001448  0.046615
 (lnq)^2        -0.000008  0.000304  0.000049  0.000065
 (lnq)(lnp1)     0.000363 -0.011461  0.001151 -0.002919
 (lnq)(lnp2)    -0.000149  0.001049 -0.004907  0.000921
 (lnq)(lnp3)     0.000760 -0.002898  0.001014 -0.005799
 lnp1           -0.002898  0.099132 -0.007841  0.024509
 lnp2            0.001014 -0.007841  0.040905 -0.006293
 lnp3           -0.005799  0.024509 -0.006293  0.047338  ,
              Std.Err.
 Intercept    3.180238
 lnq          0.367981
 (lnq)^2      0.002297
 (lnq)(lnp1)  0.037281
 (lnq)(lnp2)  0.024779
 (lnq)(lnp3)  0.027576
 lnp1         0.314852
 lnp2         0.202251
 lnp3         0.217573,
                [0.025     0.975]
 Intercept   -1.004740  11.461791
 lnq         -1.685739  -0.243254
 (lnq)^2      0.021748   0.030751
 (lnq)(lnp1)  0.043909   0.190052
 (lnq)(lnp2)  0.010930   0.108066
 (lnq)(lnp3) -0.011316   0.096782
 lnp1        -1.470643  -0.236422
 lnp2        -0.207792   0.585031
 lnp3        -0.636991   0.215893)

In [149]:
A.robust_var_se_cfdinterval()

ValueError: matmul: Input operand 1 does not have enough dimensions (has 0, gufunc core with signature (n?,k),(k,m?)->(n?,m?) requires 1)

In [146]:
A.R2_rootMSE()

(Coef.    0.99997
 dtype: float64,
 [0.007120961271884264])

In [147]:
A.output()

{'Coef.': array([ 5.2285253 , -0.96449642,  0.02624943,  0.11698042,  0.05949813,
         0.04273295, -0.85353269,  0.18861942, -0.21054889]),
 'Std.Err.': array([3.18023763e+00, 3.67980914e-01, 2.29651287e-03, 3.72814189e-02,
        2.47794395e-02, 2.75759705e-02, 3.14852407e-01, 2.02250815e-01,
        2.17572565e-01]),
 '[0.025': array([-1.00474045, -1.68573901,  0.02174826,  0.04390884,  0.01093043,
        -0.01131595, -1.4706434 , -0.20779217, -0.63699112]),
 '0.975]': array([11.46179104, -0.24325383,  0.03075059,  0.190052  ,  0.10806583,
         0.09678185, -0.23642197,  0.58503102,  0.21589334]),
 'R2': Coef.    0.99997
 dtype: float64,
 'rootMSE': [0.007120961271884264]}